* {
    margin: 0;
    font-size: 16px;
}

body {
    background-color: aliceblue;
}

.content {
    /* background-color: grey; */
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-family: "Bitter", serif;
}

h1 {
    margin-top: 1rem;
    font-size: 4rem;
}

hr {
    border: none;
    border-top: 4px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 2rem;
}
  
hr::after {
    background: aliceblue;
    content: '§ @its.1213 §';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.content p {
    margin-top: 1.5rem;
}

.content li{
    
}

.mood-container {
    margin: auto;
    margin-top: 1rem;
    background-color: wheat;
    opacity: 100%;
    display: flex;
    flex-flow: column wrap;
    min-height: 80vw;
}

.outfit-section {
    margin: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
}

.outfit-section img {
    width: 35vw;


}