* {
    margin: 0;
    font-size: 16px;
    font-family: "Bitter", serif;
}

body {
    background-color: aliceblue;
}

.content {
    /* background-color: grey; */
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;

}

h1 {
    margin-top: 1rem;
    font-size: 4rem;
}

hr {
    border: none;
    border-top: 4px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 2rem;
}
  
hr::after {
    background: aliceblue;
    content: '§ @its.1213 §';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.content p, li{
    font-size: 1.2rem;
    text-align:left;
    list-style-position: inside;
}

.content p {
    margin-top: 1.5rem;
}

.content span{
    font-size: 2rem;
    font-weight: 300;

}

.mood-container {
    margin: auto;
    margin-top: 2rem;
    background-color: wheat;
    opacity: 100%;
    display: flex;
    flex-flow: column wrap;
    min-height: 80vw;
    border-radius: 1.5rem;
}

.mood-container h2{
    font-size: 8vw;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-wrap: nowrap;
}

.mood-container p {
    font-size: 2vw;
    text-align: center;
    text-wrap: wrap;
}


.outfit-section {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.outfit-section row {
    display: flex;
    flex-flow: row wrap;
}

.outfit-section img {
    width: 25vw;
    padding: 0.5rem;
    border-radius: 1rem;
}

.piece-section {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.piece-section row {
    display: flex;
    flex-flow: row wrap;
}

.piece-section img{
    width: 25vw;
    padding: 0.5rem;
    border-radius: 1rem;
}

.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer span{
    margin: 0 0.4rem;
}